.assignment-upload-container {
  max-width: 600px;
  margin-left: 25%;
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assignment-upload-form {
  display: flex;
  flex-direction: column;
}

.assignment-upload-form label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.assignment-upload-form input,
.assignment-upload-form textarea,
.assignment-upload-form button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.assignment-upload-form textarea {
  resize: vertical;
  min-height: 100px;
}

.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  margin: 10px 0;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s;
}
.h2{
  color:#007bff;
}